<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Sunny" value="Bike;TukTuk;Car"/>
    <add key="Rainy" value="TukTuk;Car"/>
    <add key="Windy" value="Bike;Car"/>

    <add key="BIKE_SPEED" value="10"/>
    <add key="TUKTUK_SPEED" value="12"/>
    <add key="CAR_SPEED" value="20"/>

    <add key="BIKE_SPEED_POTHOLE" value="2"/>
    <add key="TUKTUK_SPEED_POTHOLE" value="1"/>
    <add key="CAR_SPEED_POTHOLE" value="3"/>
    
    <add key="WEATHER_SUNNY_POTHOLES" value="-10"/>
    <add key="WEATHER_RAINY_POTHOLES" value="20"/>
    
    <add key="ORBIT1_POTHOLES" value="20"/>
    <add key="ORBIT2_POTHOLES" value="10"/>


    <add key="ORBIT1_DISTANCE" value="18"/>
    <add key="ORBIT2_DISTANCE" value="20"/>
    
    <add key="NosOrbit" value="2"/>
    
    
  </appSettings>
</configuration>